// X-Small devices 320px and (portrait phones, less than 575.99px)
@media (min-width:320px) and (max-width: 575.99px) {
    .common_title {
        margin-bottom: 30px;
    }
//   ======header responsive start======
#header {
    padding: 0px 0;
    img{
        width: 50%;
    }
.common_button{
    display: none;
}
}
//   ======header responsive start======
#banner {
    padding-top: 70px;
    .image{
        width: 300px;
        height: 250px;
        margin-top: 20px;
    }
    .contacts{
        margin: 20px 0;
        flex-wrap: wrap;
        border-radius: 40px;
        .items {
            display: flex;
            width: 100%;
            border-right: none;
            margin-bottom: 30px;
            border: none;
            margin-left: 0;
                .icon i{
                    font-size: 20px;
                }
                .info h1 span{
                    line-height: 20px;
                }
            }
        }
    }
    .common_button{
        text-align: center;
        margin: 0 auto;
        a{
            padding: 10px 15px;
        }
        a:first-child{
            margin: 0;
        }
        i{
            display: none;
        }
    }
    
    //   ======about responsive start======
    
    #about_section {
        margin-bottom: 30px;
    }
    //   ======service responsive start======
    #services_section .main .items {
        margin-bottom: 30px;
        
    }
    //   ======tech section responsive start======
    #tech_section{
        margin-bottom: 30px;
    .main{
        .tech {
            border-radius: 40px;
        height: 200px;
        
        .content{
            h1{
                font-size: 25px;
            }
            h2{
                font-size: 20px;
            }
        }
        img{
            transform: translate(-253px, -194px);
            width: 300%;
        }
    }
    .partner_img{
        width: 25%;
    }
   .circle{
    bottom: 0%;
   }
  
}

}
//   ======process section responsive start======
#process_section{
    margin-bottom: 30px;
 .main .items{
    margin-bottom: 20px; 
    .circle {
        height: 120px;
        width: 120px;
        .inner_circle{
            height: 100px;
            width: 100px;
            h2{
                font-size: 40px;
            }
        }
    }
    
    .content{
        .icon i{
            font-size: 20px;
            display: none;
        }
        .text{
            text-align: left;
            margin-left: 0;
            a{
                font-size: 20px;
                margin-left: 0;
            }
        }
    }
}

}
//   ======contact section responsive start======
#contact_section .main {
	padding: 20px 10px 20px 10px;
	border-radius: 40px;
    text-align: center;
    .title h1{
        font-size: 25px;
    }
    .title2 h2{
        font-size: 25px;
        margin-bottom: 30px;
    }
    input{
        text-align: center;
        padding: 12px 15px;
        margin-bottom: 20px;
    }
    textarea{
        padding: 12px 15px;
        height: 150px;
    }
}

//   ======footer section responsive start======
#footer_section {
	margin-top: 30px;
    .main{
        .main_item{
            display: flex;
            flex-wrap: wrap;
            .items{
                width: 50%;
                padding-left: 0;
                text-align: center;
                ul li a{
                    font-size: 16px;
                    line-height: 0;
                }

            }
            :nth-child(2){
                border: none;
            }
            :last-child{
                width: 100%;
                text-align: center;
                .icon{
                    justify-content: space-evenly;
                }
                .common_button {
                    margin: 20px 0;
                    a{
                        padding-left: 15px;
                    }
                }
            }
        }
    }
    
    .lower_footer{
        padding: 0;
        padding-top: 10px;
    }
}

}

// Small devices (landscape phones, less than 768px)
@media (min-width:576px) and (max-width: 767.99px) {
    .common_title {
        margin-bottom: 30px;
    }
//   ======header responsive start======
#header {
    padding: 0px 0;
    img{
        width: 50%;
    }
.common_button{
    display: none;
}
}
//   ======header responsive start======
#banner {
    padding-top: 70px;
    .main{
        .overly{
            top: 246px;
        }
    }
  
    .image{
        margin: 20px auto;
    }
    .contacts{
        margin: 20px 0;
        flex-wrap: wrap;
        border-radius: 40px;
        .items {
            display: flex;
            width: 100%;
            border-right: none;
            margin-bottom: 30px;
            border: none;
            margin-left: 0;
                .icon i{
                    font-size: 30px;
                }
                .info h1 span{
                    line-height: 20px;
                }
            }
        }
    }
    .common_button{
        text-align: center;
        margin: 0 auto;
        a{
            padding: 10px 15px;
        }
        a:first-child{
            margin: 0;
        }
        i{
            display: none;
        }
    }
    
    //   ======about responsive start======
    
    #about_section {
        margin-bottom: 30px;
    }
    //   ======service responsive start======
    #services_section .main .items {
        margin-bottom: 30px;
        
    }
    //   ======tech section responsive start======
    #tech_section{
        margin-bottom: 30px;
    .main{
        .tech {
            border-radius: 40px;
        height: 200px;
        
        .content{
            h1{
                font-size: 25px;
            }
            h2{
                font-size: 20px;
            }
        }
        img{
            transform: translate(-58px, -206px);
            width: 170%;
        }
    }
   .circle{
    bottom: 17%;
   }
  
}

}
//   ======process section responsive start======
#process_section{
    margin-bottom: 30px;
 .main .items{
    margin-bottom: 20px; 
    .circle {
        height: 120px;
        width: 120px;
        .inner_circle{
            height: 100px;
            width: 100px;
            h2{
                font-size: 40px;
            }
        }
    }
    
    .content{
        .icon i{
            font-size: 20px;
            display: none;
        }
        .text{
            text-align: left;
            margin-left: 0;
            a{
                font-size: 20px;
                margin-left: 0;
            }
        }
    }
}

}
//   ======contact section responsive start======
#contact_section .main {
	padding: 20px 10px 20px 10px;
	border-radius: 40px;
    text-align: center;
    .title h1{
        font-size: 25px;
    }
    .title2 h2{
        font-size: 25px;
        margin-bottom: 30px;
    }
    input{
        text-align: left;
        padding: 12px 15px;
        margin-bottom: 20px;
    }
    textarea{
        padding: 12px 15px;
        height: 150px;
    }
}

//   ======footer section responsive start======
#footer_section {
	margin-top: 30px;
    .main{
        .main_item{
            display: flex;
            flex-wrap: wrap;
            .items{
                width: 50%;
                padding-left: 0;
                text-align: center;
                ul li a{
                    font-size: 16px;
                    line-height: 0;
                }

            }
            :nth-child(2){
                border: none;
            }
            :last-child{
                width: 100%;
                text-align: center;
                .icon{
                    justify-content: space-evenly;
                }
                .common_button {
                    margin: 20px 0;
                    a{
                        padding-left: 15px;
                    }
                }
            }
        }
    }
    
    .lower_footer{
        padding: 0;
        padding-top: 10px;
    }
}

}

// Medium devices (tablets, less than 992px)
@media (min-width:768px) and (max-width: 991.99px) { 
    .common_title {
        margin-bottom: 30px;
    }
//   ======header responsive start======
#header {
    padding: 0px 0;
    ul li a{
        margin: 0 15px;
    }
    img{
        width: 50%;
    }
.common_button{
    display: none;
}
}
//   ======header responsive start======
#banner {
    padding-top: 70px;
    .main{
        .overly{
            top: 246px;
        }
    }
  
    .image{
        margin: 20px auto;
        width: 430px;
        height: 350px;
    }
    .contacts{
        margin: 20px 0;
        flex-wrap: wrap;
        border-radius: 90px;
        .items {
            display: flex;
            margin-left: 15px;
            width: 30.9%;
                .icon i{
                    font-size: 30px;
                }
                .info h1 span{
                    line-height: 20px;
                }
            }
            :last-child .info h1 span{
                font-size: 12px;
            }
        }
    }
    .common_button{
        text-align: center;
        margin: 0 auto;
        a{
            padding: 10px 15px;
        }
        a:first-child{
            margin: 0;
        }
        i{
            display: none;
        }
    }
    
    //   ======about responsive start======
    
    #about_section {
        margin-bottom: 30px;
    }
    //   ======service responsive start======
    #services_section .main .items {
        margin-bottom: 30px;
        
    }
    //   ======tech section responsive start======
    #tech_section{
        margin-bottom: 30px;
    .main{
        .tech {
            border-radius: 160px;
            height: 200px;
        
        .content{
            h1{
                font-size: 30px;
            }
            h2{
                font-size: 25px;
            }
        }
        img{
            transform: translate(-58px, -206px);
            width: 130%;
        }
    }
   .circle{
    bottom: 25%;
   }
  
}

}
//   ======process section responsive start======
#process_section{
    margin-bottom: 30px;
 .main .items{
    margin-bottom: 20px; 
    .circle {
        height: 120px;
        width: 120px;
        .inner_circle{
            height: 100px;
            width: 100px;
            h2{
                font-size: 40px;
            }
        }
    }
    
    .content{
        .icon i{
            font-size: 20px;
            display: none;
        }
        .text{
            text-align: left;
            margin-left: 0;
            a{
                font-size: 20px;
                margin-left: 0;
            }
        }
    }
}

}
//   ======contact section responsive start======
#contact_section .main {
	padding: 30px 20px 30px 20px;
	border-radius: 40px;
    text-align: center;
    .title h1{
        font-size: 25px;
    }
    .title2 h2{
        font-size: 25px;
        margin-bottom: 30px;
    }
    input{
        text-align: left;
        padding: 12px 15px;
        margin-bottom: 20px;
    }
    textarea{
        padding: 12px 15px;
        height: 150px;
    }
}

//   ======footer section responsive start======
#footer_section {
	margin-top: 30px;
    .main{
        .main_item{
            display: flex;
            flex-wrap: wrap;
            .items{
                width: 25%;
                padding-left: 0;
                text-align: center;
                ul li a{
                    font-size: 16px;
                    line-height: 0;
                }


            }
            }
            :last-child{
    
                text-align: center;
                .icon{
                    justify-content: space-evenly;
                }
                .common_button {
                    margin: 20px 0;
                    a{
                        padding-left: 15px;
                    }
                }
            }
        }
        .lower_footer{
            padding: 0;
            padding-top: 10px;
        }
    }
    
    
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {}

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { }

