#header{
    padding: 20px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
    transition: .4s;
    background:$main_color;
    ul{
       a{
        @include title(12px);
        margin: 0 20px;
       }
        
    }
    img{
        transition: .4s;
    }
    .navbar{
        padding: 0;
    }
}
#header.sticky{
    padding: 0px;
    background: $main_color2;
    backdrop-filter: blur(2px);

    img{
        width: 50%;
    }
}
