$white:#ffffff;
$main_color:#343045;
$main_color2:rgba(52, 48, 69, 0.3);
$black_color:rgba(14, 14, 14, 0.32);
$border_color:rgba(192, 183, 232, 0.33);
$Montserrat:'Montserrat', sans-serif;
$overly_color:linear-gradient(0deg, rgba(48, 44, 66, 0.79), rgba(48, 44, 66, 0.79));
$hover_color:linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
$bg_color:radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%);