@import '../mixin/mixin';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
h1,h2,h3,h4,h5,h6,a,ol,ul,li{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;

}
img{
    vertical-align: middle;
    width: 100%;
}
li{
    list-style:none;
    display: inline-block;
}
body{
    background:$main_color;
}
@media (min-width: 1400px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1270px;
}
}
.common_button{
    a{
        @include title(12px);
        border: 1px solid $white;
        padding: 15px 40px;
        border-radius: 50px;
        background: transparent;
        transition: .4s;
    }
  a:hover{
    color: $main_color;
    background: $hover_color;
    border: 1px solid transparent;
  }
  a:first-child{
    margin-right: 30px;
  }
  
}
 .common_title{
    margin-bottom: 100px;
    h1{
        @include title(36px);
        
    
    }
    h3{
        @include title(36px);
        font-weight: 200;
      
        img{
            width: 30%;
            margin-left: 30px;
        }
    }
 }
 p{
    @include title(14px);
    font-weight: 200;
 }